{% extends "base.html" %}
{% load static %}
{%block title %}
<title>order</title>
{%endblock title%}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pretty-footer.css' %}">

</br></br></br>
<div  class="container text-primary">
               <div  class="row">
                   <div class="col-md-1">
                    <img src="{% static 'images/image4.jpg' %}" alt="cake" height="590" width="1200">
                   </div>
                <div class="col-sm-6 col-md-3">
                    <h3>Bakery</h3>
                    <p class="links"><a href="{% url 'cake' %}">Cake</a><strong> · </strong><a href="{% url 'pricing' %}">Pricing&nbsp;</a><strong> · </strong><a href="{% url 'order' %}">Order</a><strong>&nbsp;&nbsp;</strong><a href="#"></a><strong>&nbsp;</strong></p>
                    <p class="company-name">Bakery © 2011</p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div>
                        <p><span class="new-line-span">21B Pacific mall</span> ,India  Delhi</p>
                    </div>
                    <div>
                        <p class="footer-center-info email text-left">9954346430</p>
                    </div>
                    <div>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                </div>
            </div>
        </div>
</div>

{% endblock content %}